<div id="dialog_movie_info" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4></h4>
            </div>
            <div class="modal-body">
                <div class='container-fluid'>
                    <div class="row">
                        <div class="col-sm-6"><img src='#'></div>
                        <div class='col-sm-6'>
                            <div class='row'>
                                <div class='col-sm-3 dmi_label'>Year:</div>
                                <div class='col-sm-9 dmi_info' id='dmi_year'></div>
                            </div>
                            <div class='row prepend-top'>
                                <div class='col-sm-3 dmi_label'>Duration:</div>
                                <div class='col-sm-9'>
                                    <span id='dmi_duration' class='dmi_info'></span> 
                                    <span class='dmi_label'>/ Imdb:</span>
                                    <span id='dmi_duration_imdb' class='dmi_info'></span></div>
                            </div>
                            <div class='row prepend-top'>
                                <div class='col-sm-3 dmi_label'>Links:</div>
                                <div class='col-sm-9 dmi_info' id='dmi_links'></div>
                            </div>
                            <div class='row prepend-top'>
                                <div class='col-sm-3 dmi_label'>Format:</div>
                                <div class='col-sm-9 dmi_info' id='dmi_format'></div>
                            </div>
                            <div class='row prepend-top'>
                                <div class='col-sm-3 dmi_label'>Actors:</div>
                                <div class='col-sm-9 dmi_info' id='dmi_actors'></div>
                            </div>
                            <div class='row prepend-top'>
                                <div class='col-sm-3 dmi_label'>Audio:</div>
                                <div class='col-sm-9 dmi_info' id='dmi_audio'></div>
                            </div>
                            <div class='row prepend-top'>
                                <div class='col-sm-3 dmi_label'>Subs:</div>
                                <div class='col-sm-9 dmi_info' id='dmi_subs'></div>
                            </div>
                            <div class='row prepend-top'>
                                <div class='col-sm-3 dmi_label'>Genre:</div>
                                <div class='col-sm-9 dmi_info' id='dmi_genre'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>