<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Movies control{% endblock %}</title>
    <!--
      black: cyborg, slate, superhero, 
      white: spruce, cerulean, journal, simplex, united, cosmo, readable, spacelab
       cosmo: nice, waiting bar not ok
       spruce: very okay
    -->
    <link href="/static/vendor/bootstrap/css/journal.bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/vendor/messenger/css/messenger.css" rel="stylesheet" media="screen">
    <link href="/static/vendor/messenger/css/messenger-theme-future.css" rel="stylesheet" media="screen">
    <link href="/static/movies.css" rel="stylesheet" media="screen">
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/static/vendor/jquery-2.1.3.min.js"></script>
    <script src="/static/vendor/jquery.cookie.js"></script>
    <script src="/static/vendor/json2.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/messenger/js/messenger.min.js"></script>
    <script src="/static/vendor/messenger/js/messenger-theme-future.js"></script>
    <script src="/static/movie_edition.js"></script>
    <script src="/static/locations.js"></script>
    <script src="/static/locations_sync.js"></script>
    <script src="/static/dialog_imdb.js"></script>
    <script src="/static/dialog_confirm.js"></script>
    <script src="/static/movies_control.js"></script>
    <script src="/static/subtitles_handling.js"></script>
    <script src="/static/ajax.js"></script>
    <script src="/static/global.js"></script>
    {% if messages %}
    <script>
    {% for message in messages %}
        Messenger().post({
          message:'{{message}}',
          type: {%if message.tags == "info" %} 'info' {% else %} 'error' {% endif %},
          showCloseButton: true});
    {% endfor %}
    </script>
    {% endif %}
  </body>
</html>