{% extends "generic.html" %}
{% block title %}{{year}}/imdb{% endblock %}
{% block body %}

{% load movies_tags %}
{% include "dialog_imdb_choice.html" %}

<div class='jumbotron'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-2'>
                <a href='/'><img src='/static/imdb.png' id='locations-icon'></a>
            </div>
            <div class='col-sm-4'>
                <div class='col-sm-12 header-typo'>Imdb search</div>
                <div class='row'>
                    <div class='col-sm-6 col-sm-offset-3 subheader-typo'>DJMovies by coderazzi</div>
                </div>
            </div>
            <div class='col-sm-2 col-sm-offset-4'>
                <div class='row'>
                    <input class="btn btn-primary col-sm-10 prepend-top" type="button" value="New search" id='new-imdb-search-btn'/>
                </div>
            </div>
        </div>
    </div>
</div>

<table id='imdb_search' class='table table-striped table-hover'>
	<caption>Best Imdb search year {{year}} (missing) [limit: {{limit}}]</caption>
	<thead>
		<tr>
			<th></th><th>Number</th><th>Image</th><th>Title</th>
			<th>Rating</th><th>Outline</th>
		</tr>
	</thead>
	<tbody>
		{%for href, title, image, rating, number, outline, credit, genres, search in search%}
	    <tr>
	    	<td/>
	    	<td>{{number}}</td>
			<td>
				<a href='http://www.imdb.com{{href}}' target="_imdb">
					<img src='{{image|default:"/static/noposter.jpg"}}' alt='{{title}}'>
				</a>
			</td>
			<td>
				<a href='{% uquery_search search %}' target='_uquery' class='a-no-decor'>
					<img src='/static/uquery-xs.png'>
					<b>{{title}}</b>
				</a>				
				<br>{{credit}}
				<br>{{genres}}
			</td>
			<td>{{rating}}</td>
			<td class='ic_outline'>{{outline}}</td>
		</tr>
	    {% endfor %}
	</tbody>
</table>


{% endblock %}
