{% extends "generic.html" %}
{% block title %}Movies handler{% endblock %}
{% block body_id %}id='index_html'{% endblock %}
{% block body %}

{% include "dialog_imdb_choice.html" %}

<div class='container'>
	<div class='row' id='djmovies-title'>
		DJMovies by coderazzi
	</div>
    <a class='a-no-decor' href='/movies'>
    	<div class='row odd-row '>
	        <div class='col-sm-1'>
	            <img src='/static/control.png' class='header-main-icon'>
	        </div>
	        <div class='col-sm-5 header-typo'>
	            Movies control
	        </div>
        </div>
    </a>
    <a class='a-no-decor prepend-top' href='/locations'>
	    <div class='row a-no-decor even-row'>
	        <div class='col-sm-1 col-sm-offset-5'>
	            <img src='/static/locations.png' class='header-main-icon'>
	        </div>
	        <div class='col-sm-5 header-typo'>
	            Locations
	        </div>
	    </div>
    </a>
    <a class='prepend-top a-no-decor' href='/uquery'>
    	<div class='row odd-row '>
	        <div class='col-sm-1 col-sm-offset-2'>
	            <img src='/static/uquery.png' class='header-main-icon'>
	        </div>
	        <div class='col-sm-5 header-typo'>
	            UQuery
	        </div>
        </div>
    </a>
    <a class='a-no-decor prepend-top' href='#' id='imdb_search'>
	    <div class='row even-row'>
	        <div class='col-sm-1 col-sm-offset-6'>
	            <img src='/static/imdb.png' class='header-main-icon'>
	        </div>
	        <div class='col-sm-5 header-typo'>
	            Imdb search
	        </div>
        </div>
    </a>
</div>

{% endblock %}

