{% extends "generic.html" %}
{% block body %}
	
	<div id='locations_sync_dialog' class="modal hide fade container" tabindex='-1'>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
			<form action='{%url "#locations_add_path_mediainfo" %}' method='POST' class='form-horizontal'>{% csrf_token %}
				<input type='hidden' name='location.id' value='{{location.id}}'>
				<input type='hidden' name='location.path' value='{{path}}'>
				<input type='hidden' name='file.path'>
				<ol>
					<li>Getting media info on <div class='path'>file</div></li>
					<div class='step2 row'>
						<input name='movie.title' type='text' class='span4'>
						<a href='{%url "#locations_add_path_imdbinfo_try" %}' 
							id='location-sync-accept-title' 
							class="btn">Search title</a>
					</div>

					<li class='step3'>Accessing IMDB to get movie info</li>

					<div class='step4 row'>
						<select name='movie.imdb' class='span4'></select>
						<a href='{%url "#locations_add_path_imdbinfo_exact" %}' 
							id='location-sync-check-title' 
							class="btn">Get info</a>
					</div>

					<li class='step5'>Retrieving full IMDB info</li>

					<a href='#' target='_blank'><img alt='movie poster' class='step6'></a>
					<div class='step6 imdb_area'>
						<div class='imdb_info'>
						</div>
	 					<a href='{%url "#locations_add_path_imdbinfo_exact" %}' 
							id='location-sync-check-title' 
							class="btn">Accept movie</a>
				</ol>
			</form>
			<div class='error'></div>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%;"></div>
			</div>
		</div>
	</div>

	<table id='locations_sync' class='table no_table-bordered no_table-hover'>
		<caption>Movies for {{location}} under {{path}}</caption>
		<thead>
			<tr><th>Add</th><th>Path &amp; Title</th><th>Remove</th></tr>
		</thead>
		<tbody>
		    {% for path, title, missing in movies %}
		    <tr>
		    	<td>
				  	{% if not missing %}
					    <a class="btn btn-mini search_path" href="#">
					    <i class="icon-search icon-white"></i></a>
				    {% endif %}
			    </td>
		    	<td>
		    		<div class='path'>{{path}}</div>
		    		<div class='title missing-{{missing}}'>{{title}}</div>
		    	</td>
		    	<td>
				  	{% if missing %}
					    <a class="btn btn-mini remove_path disabled" href="#">
					    <i class="icon-trash icon-white"></i></a>
				    {% endif %}
			    </td>
		    </tr>
		    {% endfor %}
		</tbody>
	</table>

{% endblock %}

