{% extends "generic.html" %}
{% block body %}

	{%include "dialog_confirm.html"%}
	{%include "dialog_imdb.html"%}
	{%include "locations_subtitle_dialog.html"%}

	<div id='locations_sync_problems_dialog' class="modal hide fade container" tabindex='-1'>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h5>Unhandled files in location</h5>
		</div>
		<div class="modal-body">
			<table class='table no_table-bordered no_table-hover'>
				<tbody>
					{%include "locations_sync_problems.html"%}
				</tbody>
			</table>		
		</div>
	</div>

	
	<table id='locations_sync' 
	       class='table table-striped no_table-bordered table-hover' 
	       data-remove-subtitle-url='{%url "#lsync_subtitle_remove" %}' 
	       data-edit-movie-url='{%url "#locations_sync_edit" %}' 
	       data-location-id='{{location.id}}'>
		<caption>Movies for {{location}} under {{path}}</caption>
		<thead>
			<tr><th>Op</th><th>Path &amp; Title</th><th colpan='3'>Subtitles</th></tr>
		</thead>
		<tbody>
		    {% for path, title, in_fs, db_id, insubs, lensubs, subs in movies %}
				{%include "locations_sync_movie.html"%}
		    {% endfor %}
		</tbody>
	</table>

{% endblock %}

