{% extends "generic.html" %}
{% block title %}{{location}}{% endblock %}
{% block body %}

	{%include "dialog_confirm.html"%}
	{%include "dialog_imdb.html"%}
	{%include "locations_subtitle_dialog.html"%}
	{%include "locations_subtitle_fetch_dialog.html"%}
	{%include "movie_edition_lang_dialog.html"%}

	<form id='subtitle_show' target='_blank' method='post' action="{%url '#subtitle_show'%}">{% csrf_token %}
	  <input type='hidden' name='location.id' value='{{location.id}}'>
	  <input type='hidden' name='location.path' value='{{path}}'>
	  <input type='hidden' name='subtitle.path'>
	  <input type='hidden' name='movie.id'>
	  <input type='submit'>
	</form>

	<div id="locations_sync_problems_dialog" class="modal fade" tabindex="-1">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h5>Unhandled files in location</h5>
	            </div>
	            <div class="modal-body">
	                <table class="table table-condensed">
	                    <tbody>{%include "locations_sync_problems.html"%}</tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	</div>
	
	<table id='locations_sync' 
	       class='table table-striped table-bordered table-hover' 
	       data-location-id='{{location.id}}'
	       data-location-path='{{path}}'
	       data-info-movie-url='{%url "#locations_sync_info"%}'
	       data-edit-movie-url='{%url "#locations_sync_edit" %}' 
	       data-clean-subtitles-url='{%url "#locations_sync_clean" %}'
	       data-remove-movie-url='{%url "#locations_sync_remove" %}' 
	       data-work-subtitle-url='{%url "#subtitle_show" %}' 
	       data-remove-subtitle-url='{%url "#lsync_subtitle_remove" %}' 
	       data-trash-subtitle-url='{%url "#lsync_subtitle_trash" %}'>	       
		<caption>
			<a type="button" id='ref-add' class="btn btn-color-green" href='#'>
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</a>
			<a type="button" id='ref-remove' class="btn btn-color-red" href='#'>
				<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
			</a>
			Movies for {{location}} under {{path}}
		</caption>
		<thead>
			<tr><th>Op</th><th>Cover</th><th>Path &amp; Title</th><th>Audios</th><th colspan='3'>Subtitles</th></tr>
		</thead>
		<tbody>
		    {% for movie in movies %}
				{%include "locations_sync_movie.html"%}
		    {% endfor %}
		</tbody>
	</table>

{% endblock %}

