<tr class='subtitle'>
    <td>
        {%if in_fs %}          
            <a class="btn btn-mini btn-color-{%if language%}yellow{%else%}green{%endif%} edit-subtitle" href="#">
                <i class="icon-pencil"></i>
            </a>
        {%else%}
            <a class="btn btn-mini btn-color-red remove-subtitle" href="#">
                <i class="icon-minus"></i>
            </a>
        {%endif%}
    </td>
    <td class='path' {%if language %}data-language='{{language}}'{%endif%}>
        {{path}}
    </td>
    <td class='subtitles'>
        {%if language %}
            {{language}}
        {%else%}
            <div class='missing_language'>?</div>
        {%endif%}
    </td>
</tr>
