<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Movies</title>
  <link href="/static/movies.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
  <script src="/static/movies.js" ></script>
</head>
<body class='inverse-body'>
	<div id='div_movies'>
		{% if movies %}
	    {% for movie in movies %}
	    <div class='div_movie'>
		    <div class='movie_section'>
		    	<div class='movie_image'>
					{% if movie.image %}
					<img src='/static/mov_imgs/{{movie.image}}'>
					{%endif%}
				</div>
		    	<div class='movie_info'>
			        <div class='movie_title'>{{movie.title}}</div>
			        <div class='movie_info_item'>
			        	<div class='movie_info_item_key'>Year:</div>
			        	<div class='movie_info_item_value'>{{movie.year}}</div>
			        </div>
			        <div class='movie_info_item'>
			        	<div class='movie_info_item_key'>Genre:</div>
			        	<div class='movie_info_item_value'>{{movie.genres}}</div>
			        </div>
			        <div class='movie_info_item'>
			        	<div class='movie_info_item_key'>Actors:</div>
			        	<div class='movie_info_item_value'>{{movie.actors}}</div>
			        </div>
			        <div class='movie_info_item'>
			        	<div class='movie_info_item_key'>Audio:</div>
			        	<div class='movie_info_item_value'>{{movie.audio}}</div>
			        </div>
			        <div class='movie_info_item'>
			        	<div class='movie_info_item_key'>Subs:</div>
			        	<div class='movie_info_item_value'>{{movie.subs}}</div>
			        </div>
			        <div class='movie_info_item'>
			        	<div class='movie_info_item_key'>Duration:</div>
			        	<div class='movie_info_item_value'>{{movie.duration}} <span class='movie_info_item_value_text'>/ imdb:</span> {{movie.imdb_duration}}</div>
			        </div>
			        <div class='movie_info_item'>
			        	<div class='movie_info_item_key'>Links:</div>
			        	<div class='movie_info_item_value'>
			        		{% if movie.imdb_link %}
			        			<a href='http://www.imdb.com{{movie.imdb_link}}'>imdb</a> 
			        		{%endif%}
			        		{% if movie.trailer_link %}
			        			{% if movie.imdb_link %}
			        			<span class='movie_info_item_value_text'> / </span> 
				        		{%endif%}
			        			<a href='http://www.imdb.com{{movie.trailer_link}}'>trailer</a> 
			        		{%endif%}
			        	</div>
			        </div>
			        <div class='movie_info_item'>
			        	<div class='movie_info_item_key'>Format:</div>
			        	<div class='movie_info_item_value'>{{movie.format}} / {{movie.width}}x{{movie.height}} [{{movie.size}} Gb]</div>
			        </div>
		    	</div>
		    </div>
		</div>
	    {% endfor %}
		{% else %}
		    <p>No Movies are available.</p>
		{% endif %}
	</div>
</body>
</html>