{% extends "generic.html" %}
{% block body %}

<div class='jumbotron'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-2'>
                <a href='/'><img src='/static/control.png' id='control-icon'></a>
            </div>
            <div class='col-sm-4'>
                <div class='col-sm-12 header-typo'>movies Control</div>
                <div class='row'>
                    <div class='col-sm-6 col-sm-offset-3 subheader-typo'>DJMovies by coderazzi</div>
                </div>
            </div>
            <div class='col-sm-6 col-sm-offset-31'>
	            <div class='boxed-form'>
    	            <div class='form-horizontal'>
						<div class="form-group">
							<label for="title-filter" class="col-sm-2 control-label">Title</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="title-filter">
							</div>
							<label for="year-filter" class="col-sm-2 control-label">Year</label>
							<div class="col-sm-4">
								<select id="year-filter" class="form-control"></select>	
							</div>
						</div>
						<div class="form-group">
							<label for="actor1-filter" class="col-sm-2 control-label">Actor</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="actor1-filter">
							</div>
							<label for="actor2-filter" class="col-sm-2 control-label">Actor +</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="actor2-filter">
							</div>
						</div>
						<div class="form-group">
							<label for="genres-filter" class="col-sm-2 control-label">Genre</label>
							<div class="col-sm-4">
								<select id="genres-filter" class="form-control"></select>	
							</div>
							<label for="audio-filter" class="col-sm-2 control-label">Audio</label>
							<div class="col-sm-4">
								<select id="audios-filter" class="form-control"></select>	
							</div>
						</div>
						<div class="form-group">
							<label for="location-filter" class="col-sm-2 control-label">Location</label>
							<div class="col-sm-4">
								<select id="location-filter" class="form-control"></select>	
							</div>
							<label for="subs-filter" class="col-sm-2 control-label">Subs</label>
							<div class="col-sm-4">
								<select id="subs-filter" class="form-control"></select>	
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

<table id='movies_control' class='table table-striped table-hover'>
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Year</th>
			<th class='ic_genres'>Genre</th>
			<th class='ic_audios'>Audios</th>
			<th class='ic_subs'>Subs</th>
			<th>Location</th>
			<th class='ic_actors'>Actors</th>
			<th class='ic_size'>Size</th>
			<th class='ic_format'>Format</th>
			<th class='ic_dimensions'></th>
		</tr>
	</thead>
	<tbody>
		{% for movie, image, locations, genres, actors in info %}
		{% for location in locations %}
	    <tr>
			<td class='ic_link' >
				<a href='http://www.imdb.com{{movie.imdb_link}}' target='imdb'>
					<img src='{{image|default:"/static/noposter.jpg"}}' class='ic_tooltip_img'>
				</a>
			</td>
			<td class='ic_title'>{{movie.title}}</td>
			<td class='ic_year'>{{movie.year}}</td>
			<td class='ic_genres'>
				{% for genre in genres %}
					{{genre}}<br>
				{%endfor%}
			</td>
			<td class='ic_audios'>{{movie.audios}}</td>
			<td class='ic_subs'>{{movie.subs}}</td>
			<td class='ic_location'>{{location.0.name}}</td>
			<td class='ic_actors'>
				{% for actor in actors %}
					{{actor}}<br>
				{%endfor%}
			</td>
			<td class='ic_size'>{{movie.size}} Gb</td>
			<td class='ic_format'>{{movie.format}}</td>
			<td class='ic_dimensions'>{{movie.width}}x{{movie.height}}</td>
		</tr>
		{%endfor%}			
		{%endfor%}			
	</tbody>
</table>


{% endblock %}

