{% extends "generic.html" %}
{% block body %}

<div class='jumbotron'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-2'>
                <a href='/'><img src='/static/control.png' id='control-icon'></a>
            </div>
            <div class='col-sm-4'>
                <div class='col-sm-12 header-typo'>movies Control</div>
                <div class='row'>
                    <div class='col-sm-6 col-sm-offset-3 subheader-typo'>DJMovies by coderazzi</div>
                </div>
            </div>
            <div class='col-sm-2 col-sm-offset-4'>
                <div class='row'>
                    <input class="btn btn-primary col-sm-10 prepend-top" type="button" value="Add new location" id='add-location-btn'/>
                </div>
            </div>
        </div>
    </div>
</div>

<table id='movies_control' class='table table-striped table-hover'>
	<thead>
		<tr>
			<th></th><th>Title</th><th>Year</th>
			<th>Size</th><th>Format</th><th>Audios</th><th>Subs</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		{%for key, image, count, value in info%}
	    <tr>
			<td class='ic_link' rowspan='{{count}}'>
				<a href='http://www.imdb.com{{key.2}}' target='imdb'>
					<img src='{{image|default:"/static/noposter.jpg"}}' class='ic_tooltip_img'>
				</a>
			</td>
			<td class='ic_title' rowspan='{{count}}'>{{key.0}}</td>
			<td class='ic_year' rowspan='{{count}}'>{{key.1}}</td>
			{% for movie, locations, lcount in value %}
				{% if not forloop.first %}
					</tr><tr>
				{%endif%}
				<td class='ic_size' rowspan='{{lcount}}'>{{movie.size}} Gb</td>
				<td class='ic_format' rowspan='{{lcount}}'>{{movie.format}}:{{movie.width}}x{{movie.height}}</td>
				<td class='ic_audios' rowspan='{{lcount}}'>{{movie.audios}}</td>
				<td class='ic_subs' rowspan='{{lcount}}'>{{movie.subs}}</td>
				{%for location in locations%}
					{% if not forloop.first %}
						</tr><tr>
					{%endif%}
					<td class='ic_location'>{{location.0.name}}</td>
				{%endfor%}			
			{%endfor%}			
		</tr>
	    {% endfor %}
	</tbody>
</table>


{% endblock %}

