#dialog_imdb .path {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	font-weight: bold;
}

#dialog_imdb .row {
	padding-bottom: 12px;
	padding-left: 20px;
}

#dialog_imdb a.btn{
	width: 80px;
	float: right;
} 

#dialog_imdb img.step6{
	float: left;
	width: 107px; 
	max-height: 158px;
}

#dialog_imdb .imdb_info{
	padding: 12px 0px 12px 150px;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-weight: bold;
}