@font-face { font-family: 'Poiret One'; src: url('/static/PoiretOne-Regular.ttf'); } 

.header-typo{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 4.2em;
  margin-top: 2px;
}


.subheader-typo{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
  margin-top: 2px;
}

.header-main-icon{
	width: 100%;
}

h2.h2title {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 3.2em;
	padding-left: 32px;
}

