$bg_color_inverse:#111;
$fg_color_inverse:#fff; 

body{
    padding: 0px;
    margin: 0px;
}

body.inverse-body{
    background: $bg_color_inverse;
    color: $fg_color_inverse;
}

caption{
	font-size: 24px;
	margin: 12px;	
}

.error_dialog{
	display: none;
	background: #c00;
	color: yellow;
	text-align: center;
	width: 100%;
	padding: 6px 0;
	margin-top: 4px;
}

@import "buttons";
@import "menu";
@import "movies";
@import "locations";
@import "imdb_dialog";
@import "movies_control";

