#locations{
  width: 50%;
  margin: 20px 25% 0 25%;
}

#locations td {
  vertical-align: middle;
}

#input_path input[type='text']{
 	width: 460px;
} 

#input_path form{
 	margin-bottom: 0px;
} 


#locations_sync {
  width: 75%;
  margin: 20px auto;	
}

#locations_sync .missing-True
{
	color: #b00;
}

#locations_sync td {
  vertical-align: top;
}

#locations_sync .path{
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

// #locations_sync_dialog .modal-body {
// 	max-height: 1000px;
// }

#locations_sync_dialog .path {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	font-weight: bold;
}

#locations_sync_dialog .error{
	display: none;
	background: #c00;
	color: yellow;
	text-align: center;
	width: 100%;
	padding: 6px 0;
}

#locations_sync_dialog .row {
	padding-bottom: 24px;
	padding-left: 20px;
}

#locations_sync_dialog a.btn{
	width: 80px;
	float: right;
} 

#locations_sync_dialog img.step6{
	float: left;
	width: 107px; 
	max-height: 158px;
}


#locations_sync_dialog .imdb_info{
	padding: 12px 0px 12px 150px;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-weight: bold;
}