#locations{
  width: 50%;
  margin: 20px 25% 0 25%;
}

#locations td {
  vertical-align: middle;
}

#input_path input[type='text']{
 	width: 460px;
} 

#input_path form{
 	margin-bottom: 0px;
} 


#locations_sync {
  width: 75%;
  margin: 20px auto;	
}

#locations_sync .ok-False {
	color: #b00;
}

#locations_sync .db-False {
  color: #0b0;
}

#locations_sync tr.location_updated {
	color: blue;
}

#locations_sync td {
  vertical-align: top;
}

#locations_sync .path{
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

#locations_sync_problems_dialog .path-problem-0 {
  color: #a00;
}

#locations_sync_problems_dialog .path-problem-1 {
  color: #a70;
}

#locations_sync_problems_dialog .path-problem-2 {
  color: #0da;
}

#locations_sync .subtitles{
  font-size: 12px;
}

#locations_sync .missing_language {
  background: red;
  padding: 0px 10px;
}

