#movies_control {
  width: 75%;
  margin: 20px auto;	
  word-wrap: break-word;

  .ic_cover img{ 
    width: 30px;
    cursor: pointer;
  }

  .ic_title{
    max-width: 150px;
    font-weight: bold;
    cursor: pointer;
  }

  td {
    vertical-align: top;
  }

  .ic_audios, .ic_subs{
    max-width: 90px;
    overflow-x: hidden;
  }

  .ic_genres, .ic_actors{
    max-width: 120px;
    overflow-x: hidden;
  }

  .ic_format, .ic_duration, .ic_links{
    display: none;
  }
}

.dmi_label {
  font-style: italic;
  font-size: 92%;
}

.dmi_info{
  font-weight: bold;
}

.boxed-form{
  border: 1px solid #2e6e73;
  border-radius: 12px;
  padding: 12px;
}