#movies_control {
  width: 75%;
  margin: 20px auto;	
  word-wrap: break-word;

  img.ic_tooltip_img {
    width: 30px;
  }

  .ic_title{
    max-width: 150px;
    font-weight: bold;
  }

  td {
    vertical-align: top;
  }

  .ic_audios, .ic_subs{
    max-width: 90px;
    overflow-x: hidden;
  }

  .ic_genres, .ic_actors{
    max-width: 120px;
    overflow-x: hidden;
  }

  .ic_size, .ic_format, .ic_dimensions{
    display: none;
  }
}

#control-icon {
  width: 100%;
}

.boxed-form{
  border: 1px solid #2e6e73;
  border-radius: 12px;
  padding: 12px;
}