.btn-control{
	width: 100%;
}

/*** lists.html **/

#add-query-modal .modal-footer {
	border-top: none;
}

.query-title {
	font-size: 1.15em;
	font-weight: bold;
}

.query-title a {
	color: #555;
	text-decoration: none;
}

#query-list td {
	vertical-align: middle;
}


/*** query.html **/

#refresh-form fieldset { 
    width:inherit; /* Or auto */
    padding:12px; /* To give a bit of padding on the left and right */
	border: 1px solid #ccc;
}

#n-results {
	font-style: italic;
	font-weight: bold;
}

.divider{
	border: 1px solid #ddd;
	margin: 6px 0px;
}

select#size-filter{
	width: 100%;
	height: 34px;
	margin-top: 12px;
	background: #337ab7;
	color: white;
}


#results h2 {
	border-bottom: 1px solid black;
}


.result-name {
	border-bottom: 1px solid #aaa;
	font-size: 1.15em;
	font-weight: bold;
	color: #555;
	margin-bottom: .5em;
	margin-top: 4em;
}

.result-name-recent {
	background: #E0EBFF;
}

.tdsize {
	margin-left: 10px;
	padding: 0px 12px;
	border-radius: 20px;
	color: white;
	float: right;
}

.tdsize-0 {background: red;}
.tdsize-1 {background: orange;}
.tdsize-2 {background: #47f;}
.tdsize-3 {background: #3a3;}
.tdsize-4 {background: black;}

.nfo-flag {
	font-size: 72%;
	font-weight: bold;
}

.ulabel {
	font-style: italic;
}

.missing-parts {
	color: red;
}

.recent {
	color: #0a0;
}

.row-info{
	padding-bottom: 0.5em;
}

.unknown-result{
	visibility: hidden;
}

.bad-result{
	color: red;
}

.nfo-checkbox {
	padding-top: .6em;	
}

.nfo-checkbox label{
	padding-top: 0.4em;
	border-top: 1px solid #bbb;
	width: 100%;
}

.row-nfo {
	display: none;
}


/*********  spinner on glypicon ************/

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

/*********  << spinner on glypicon ************/