body {
  padding: 0px;
  margin: 0px; }

body.inverse-body {
  background: #111111;
  color: white; }

caption {
  font-size: 24px;
  margin: 12px; }

.error_dialog {
  display: none;
  background: #c00;
  color: yellow;
  text-align: center;
  width: 100%;
  padding: 6px 0;
  margin-top: 4px; }

.btn-color-red {
  background-color: #a32929 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d65b5b", endColorstr="#a32828");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d65b5b), to(#a32828));
  background-image: -moz-linear-gradient(top, #d65b5b, #a32828);
  background-image: -ms-linear-gradient(top, #d65b5b, #a32828);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d65b5b), color-stop(100%, #a32828));
  background-image: -webkit-linear-gradient(top, #d65b5b, #a32828);
  background-image: -o-linear-gradient(top, #d65b5b, #a32828);
  background-image: linear-gradient(#d65b5b, #a32828);
  border-color: #a32828 #a32828 #8f2424;
  color: #333333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased; }

.btn-color-green {
  background-color: #52a329 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#84d65b", endColorstr="#51a328");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#84d65b), to(#51a328));
  background-image: -moz-linear-gradient(top, #84d65b, #51a328);
  background-image: -ms-linear-gradient(top, #84d65b, #51a328);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #84d65b), color-stop(100%, #51a328));
  background-image: -webkit-linear-gradient(top, #84d65b, #51a328);
  background-image: -o-linear-gradient(top, #84d65b, #51a328);
  background-image: linear-gradient(#84d65b, #51a328);
  border-color: #51a328 #51a328 #478f24;
  color: #333333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased; }

.btn-color-yellow {
  background-color: #c2c20a !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f43d", endColorstr="#c1c10a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4f43d), to(#c1c10a));
  background-image: -moz-linear-gradient(top, #f4f43d, #c1c10a);
  background-image: -ms-linear-gradient(top, #f4f43d, #c1c10a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f43d), color-stop(100%, #c1c10a));
  background-image: -webkit-linear-gradient(top, #f4f43d, #c1c10a);
  background-image: -o-linear-gradient(top, #f4f43d, #c1c10a);
  background-image: linear-gradient(#f4f43d, #c1c10a);
  border-color: #c1c10a #c1c10a #aaaa09;
  color: #333333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased; }

#menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; }

#menu-main {
  float: left;
  width: 100%;
  padding: 10px 20px;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #333344;
  box-shadow: 0 0px 2px 2px #666699; }

.menu-item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: black;
  border-radius: 6px;
  color: #333344;
  box-shadow: 0 0px 2px 2px #333344; }

.menu-item-enabled {
  color: #666699;
  box-shadow: 0 0px 2px 2px #666699;
  cursor: pointer; }

.div_movie {
  float: left; }

.movie_section {
  float: left;
  border: 1px solid #353535;
  margin: 8px;
  background: #232323;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 0px 2px 2px #353535; }

.movie_image {
  float: left;
  width: 214px;
  height: 317px;
  overflow: hidden; }

.movie_info {
  float: left;
  width: 400px;
  color: #eeeded;
  margin: 8px;
  font-family: "Arial";
  font-size: 12px; }

.movie_title {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-bottom: 1px solid #474747; }

.movie_info_item {
  float: left;
  position: relative;
  clear: both;
  width: 100%;
  margin-top: 20px;
  overflow: hidden; }

.movie_info_item_key {
  padding-left: 6px;
  width: 70px;
  color: #bcb3b3; }

.movie_info_item_value {
  position: absolute;
  left: 70px;
  top: 0px;
  color: #dddada;
  overflow: hidden; }

.movie_info_item_value_text {
  font: 80%;
  color: #bcb3b3; }

.movie_info_item a,
.movie_info_item a:visited,
.movie_info_item a:active,
.movie_info_item a:hover,
.movie_info_item a:link {
  color: white; }

#locations {
  width: 50%;
  margin: 20px 25% 0 25%; }

#locations td {
  vertical-align: middle; }

#input_path input[type='text'] {
  width: 460px; }

#input_path form {
  margin-bottom: 0px; }

#locations_sync {
  width: 75%;
  margin: 20px auto; }

#locations_sync .ok-False {
  color: #b00; }

#locations_sync .db-False {
  color: #0b0; }

#locations_sync tr.location_updated {
  color: blue; }

#locations_sync td {
  vertical-align: top; }

#locations_sync .path {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px; }

#locations_sync_problems_dialog .path-problem-0 {
  color: #a00; }

#locations_sync_problems_dialog .path-problem-1 {
  color: #a70; }

#locations_sync_problems_dialog .path-problem-2 {
  color: #0da; }

#locations_sync .subtitles {
  font-size: 12px; }

#locations_sync .missing_language {
  background: red;
  padding: 0px 10px; }

#imdb_dialog .path {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  font-weight: bold; }

#imdb_dialog .row {
  padding-bottom: 12px;
  padding-left: 20px; }

#imdb_dialog a.btn {
  width: 80px;
  float: right; }

#imdb_dialog img.step6 {
  float: left;
  width: 107px;
  max-height: 158px; }

#imdb_dialog .imdb_info {
  padding: 12px 0px 12px 150px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold; }

#movies_control {
  width: 75%;
  margin: 20px auto;
  word-wrap: break-word; }

#movies_control img.ic_tooltip_img {
  width: 30px; }

#movies_control .ic_title {
  max-width: 150px;
  font-weight: bold; }

#movies_control td {
  vertical-align: top; }

#movies_control .ic_audios {
  max-width: 90px; }

#movies_control .ic_subs {
  max-width: 90px;
  overflow-x: hidden; }

#movies_control .ic_tooltip {
  cursor: pointer; }
